.m-accordion .a-avatar {
  background: white;
  border: 1px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.46);
}
.m-accordion .a-avatar,
.m-accordion .a-typography {
  font-weight: bold;
  color: rgb(127, 127, 127);
}

.m-accordion:hover .a-avatar,
.m-accordion:hover .a-typography {
  font-weight: bold;
  color: black;
}
