.m-accordion .a-avatar {
  background: white;
  border: 1px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.46);
}
.m-accordion .a-avatar,
.m-accordion .a-typography {
  font-weight: bold;
  color: #00000082;
}

.m-accordion:hover .a-avatar,
.m-accordion:hover .a-typography {
  color: black;
}

label.c-label {
  color: black;
}

label.radio-label {
  color:#a2a2a2;
}
.menuitem-placeholder {
  color:#a2a2a2;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
}
textarea.c-textarea {
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 3px;
  resize: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
}
textarea.c-textarea:hover {
  border: 2px solid rgba(0, 0, 0, 0.87);
}
textarea.c-textarea:focus {
  outline: 0;
  border: 2px solid #1976d2;
}
.date-container {
  margin-top: 20px;
  display: flex;
}
.date-container .date {
  width:150px;
  margin-right: 70px;
}
.error-msg {
  margin-bottom: 20px;
  margin-left: 5%;
}
.message-container {
  margin-top: 5px;
}
.message-container .alert {
  color:red;
}